<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.UmsUploadFileMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.UmsUploadFile">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="share_admin_id" jdbcType="BIGINT" property="shareAdminId" />
    <result column="mobile_no" jdbcType="VARCHAR" property="mobileNo" />
    <result column="wechat_no" jdbcType="VARCHAR" property="wechatNo" />
    <result column="card_no" jdbcType="VARCHAR" property="cardNo" />
    <result column="bank_name" jdbcType="VARCHAR" property="bankName" />
    <result column="file_list_id_cards" jdbcType="VARCHAR" property="fileListIdCards" />
    <result column="file_list_business" jdbcType="VARCHAR" property="fileListBusiness" />
    <result column="file_list_permit" jdbcType="VARCHAR" property="fileListPermit" />
    <result column="create_status" jdbcType="INTEGER" property="createStatus" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, share_admin_id, mobile_no, wechat_no, card_no, bank_name, file_list_id_cards, 
    file_list_business, file_list_permit, create_status, create_time, update_time
  </sql>
  <select id="selectByExample" parameterType="com.macro.mall.model.UmsUploadFileExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ums_upload_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ums_upload_file
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ums_upload_file
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.UmsUploadFileExample">
    delete from ums_upload_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.UmsUploadFile">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_upload_file (share_admin_id, mobile_no, wechat_no, 
      card_no, bank_name, file_list_id_cards, 
      file_list_business, file_list_permit, create_status, 
      create_time, update_time)
    values (#{shareAdminId,jdbcType=BIGINT}, #{mobileNo,jdbcType=VARCHAR}, #{wechatNo,jdbcType=VARCHAR}, 
      #{cardNo,jdbcType=VARCHAR}, #{bankName,jdbcType=VARCHAR}, #{fileListIdCards,jdbcType=VARCHAR}, 
      #{fileListBusiness,jdbcType=VARCHAR}, #{fileListPermit,jdbcType=VARCHAR}, #{createStatus,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.UmsUploadFile">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into ums_upload_file
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shareAdminId != null">
        share_admin_id,
      </if>
      <if test="mobileNo != null">
        mobile_no,
      </if>
      <if test="wechatNo != null">
        wechat_no,
      </if>
      <if test="cardNo != null">
        card_no,
      </if>
      <if test="bankName != null">
        bank_name,
      </if>
      <if test="fileListIdCards != null">
        file_list_id_cards,
      </if>
      <if test="fileListBusiness != null">
        file_list_business,
      </if>
      <if test="fileListPermit != null">
        file_list_permit,
      </if>
      <if test="createStatus != null">
        create_status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shareAdminId != null">
        #{shareAdminId,jdbcType=BIGINT},
      </if>
      <if test="mobileNo != null">
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="wechatNo != null">
        #{wechatNo,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="fileListIdCards != null">
        #{fileListIdCards,jdbcType=VARCHAR},
      </if>
      <if test="fileListBusiness != null">
        #{fileListBusiness,jdbcType=VARCHAR},
      </if>
      <if test="fileListPermit != null">
        #{fileListPermit,jdbcType=VARCHAR},
      </if>
      <if test="createStatus != null">
        #{createStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.UmsUploadFileExample" resultType="java.lang.Long">
    select count(*) from ums_upload_file
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ums_upload_file
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.shareAdminId != null">
        share_admin_id = #{record.shareAdminId,jdbcType=BIGINT},
      </if>
      <if test="record.mobileNo != null">
        mobile_no = #{record.mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="record.wechatNo != null">
        wechat_no = #{record.wechatNo,jdbcType=VARCHAR},
      </if>
      <if test="record.cardNo != null">
        card_no = #{record.cardNo,jdbcType=VARCHAR},
      </if>
      <if test="record.bankName != null">
        bank_name = #{record.bankName,jdbcType=VARCHAR},
      </if>
      <if test="record.fileListIdCards != null">
        file_list_id_cards = #{record.fileListIdCards,jdbcType=VARCHAR},
      </if>
      <if test="record.fileListBusiness != null">
        file_list_business = #{record.fileListBusiness,jdbcType=VARCHAR},
      </if>
      <if test="record.fileListPermit != null">
        file_list_permit = #{record.fileListPermit,jdbcType=VARCHAR},
      </if>
      <if test="record.createStatus != null">
        create_status = #{record.createStatus,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ums_upload_file
    set id = #{record.id,jdbcType=BIGINT},
      share_admin_id = #{record.shareAdminId,jdbcType=BIGINT},
      mobile_no = #{record.mobileNo,jdbcType=VARCHAR},
      wechat_no = #{record.wechatNo,jdbcType=VARCHAR},
      card_no = #{record.cardNo,jdbcType=VARCHAR},
      bank_name = #{record.bankName,jdbcType=VARCHAR},
      file_list_id_cards = #{record.fileListIdCards,jdbcType=VARCHAR},
      file_list_business = #{record.fileListBusiness,jdbcType=VARCHAR},
      file_list_permit = #{record.fileListPermit,jdbcType=VARCHAR},
      create_status = #{record.createStatus,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.UmsUploadFile">
    update ums_upload_file
    <set>
      <if test="shareAdminId != null">
        share_admin_id = #{shareAdminId,jdbcType=BIGINT},
      </if>
      <if test="mobileNo != null">
        mobile_no = #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="wechatNo != null">
        wechat_no = #{wechatNo,jdbcType=VARCHAR},
      </if>
      <if test="cardNo != null">
        card_no = #{cardNo,jdbcType=VARCHAR},
      </if>
      <if test="bankName != null">
        bank_name = #{bankName,jdbcType=VARCHAR},
      </if>
      <if test="fileListIdCards != null">
        file_list_id_cards = #{fileListIdCards,jdbcType=VARCHAR},
      </if>
      <if test="fileListBusiness != null">
        file_list_business = #{fileListBusiness,jdbcType=VARCHAR},
      </if>
      <if test="fileListPermit != null">
        file_list_permit = #{fileListPermit,jdbcType=VARCHAR},
      </if>
      <if test="createStatus != null">
        create_status = #{createStatus,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.UmsUploadFile">
    update ums_upload_file
    set share_admin_id = #{shareAdminId,jdbcType=BIGINT},
      mobile_no = #{mobileNo,jdbcType=VARCHAR},
      wechat_no = #{wechatNo,jdbcType=VARCHAR},
      card_no = #{cardNo,jdbcType=VARCHAR},
      bank_name = #{bankName,jdbcType=VARCHAR},
      file_list_id_cards = #{fileListIdCards,jdbcType=VARCHAR},
      file_list_business = #{fileListBusiness,jdbcType=VARCHAR},
      file_list_permit = #{fileListPermit,jdbcType=VARCHAR},
      create_status = #{createStatus,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>